@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@400;500&display=swap');

*{
    padding: 0; margin: 0; box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)) ,  url(./pic/pexels-jacob-moore-11546093.jpg);
    background-size: cover;
    font-family: sans-serif;
   
}
nav{
    width: 100%;
    height: 70px;
    
   
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo{
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 2px;
    color: #0d0e0f;
   
}
.logo span{
    color:#1274b5 ;
}

.menu a{
  
  
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    position: relative;

}
.menu a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid #1274b5;
    
  
}
.menu a:hover:before{
    width: 90%;
    
}
.social{
width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-between;}

.social a{
    display: inline-flex;
    width: 50px;
    height: 50px;
    text-decoration: none;
    background: transparent;
    padding: 10px 10px;
    align-items: center;
    border: 2px solid transparent;
  
    transition: .5s;

}
.social a:hover{
    
    border-color: #1274b5;
    border-radius: 50%;
}
.social a i{
    font-size: 24px;
    color: #1274b5;
   
}

.heading{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.heading span{
    letter-spacing: 5px;
}
.heading h1{
    font-size: 3.5rem;
}
.heading a{
    text-decoration: none;
    background: #1274b5;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 8px;
    transition: 0.4s;
}
.heading a:hover{
    background: transparent;
    border: 1px solid #1274b5 ;
    color: #1274b5;

}
.home{
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  
    padding: 100px 0px 0% 20px;

}
.home-left{

   flex-basis: 55%;
   
}
.home-right{
    flex-basis: 45%;
}
.home-left h2{
    font-size: 50px;
    line-height: 1.2;
}
.home-left h3{
    font-size: 40px;
    color: #1274b5;
    text-align: left;
}
.home-left p{
    font-size: 16px;
    margin: 15px 0px 30px;
}
.home-right img{
    width: 100%;
}
.btn{
   display: inline-block;
   padding: 10px 15px;
    background:  #1274b5;;
    border: 2px solid  #1274b5; ;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: .5s;
}
.btn:hover{
    background: transparent;
    color: #1274b5;
}
/*   services   */

#services{
    padding: 30px 0;
    color: white;
    background: #070707;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 100vh;

}
.services-list{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 70px;
    padding: 0% 20px;
}
.services-list div{
    background: #262626;
    color: white;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 7px;
    transition: 0.5s;
}
.services-list i{
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.services-list h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #1B6B93;
    transform: translateY(-10px);
}
/*  crousel  */
.feature{
    margin: 20px;
    text-align: center;
    font-size: 1.8rem;
    
}

.crousel-wrapper{
    height: 400px;
    position: relative;
    width: 70%;
    display: block;
    margin: 50px auto;
 
    
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.crousel-item{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    max-width: 100%;
    
}
.arrow{
    border:  2px solid rgb(245, 239, 239);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;


}
.arrow-prev{
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);

}
.arrow-next{
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);

}
[id^= "item"]{
    display: none;
}
.item-1{
    z-index: 2;
    opacity: 1;
    background: url(./pic/img1.jpg);
    background-size: cover;
}
.item-2{
    
    background: url(./pic/img2.jpg);
    background-size: cover;
}.item-3{
  
    background: url(./pic/img3.jpg);
    background-size: cover;
}
*:target ~ .item-1{
    opacity: 0;
}
#item-1:target ~ .item-1{
    opacity: 1;
}
#item-2:target ~ .item-2, #item-3:target ~ .item-3{
    z-index: 3;
    opacity: 1;
}

/*   footer  */


footer{
    background: #070505;
    padding-top: 50px;
}
.container{
    font-size: 16px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 20px;
    color: white;
    
   

}

h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-container{
    text-align: center;
}
.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;

}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #1B6B93;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;

}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    font-size: 25px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #1274b5;
}
.bottom-bar{
    background: #1274b5;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}